@import '../index.scss';

.nav-bar {
    font: 100% $font-stack;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: #fff;
    background-color: $primary-color;

    &-dark {
        background-color: $bg-dark;
    }
}

.nav-link {
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 1em;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.2s ease;

  &-dark {
    background-color: #2b5a5a;

  }

}

.menu-dark li:hover {
    background-color: #2b5a5a;
  }

.menu li {
    padding: 5px 14px;
}

.services {
    position: relative;
}

.dropdown {
    position: absolute;
    background-color: $primary-color;
    padding: 1em 0;
    top: 35px;
    display: none;
    border-radius: 8px;

    &-dark {
        background-color: $bg-dark;
    }
}

.menu a {
    color: #fff;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;

    &-dark {
      background-color: #2b5a5a;
    }
}

.services:hover .dropdown {
    display: block;
  }

  input[type=checkbox] {
    display: none;
  }

  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  /* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        padding-bottom: 20px;
        background-color: $bg-dark;
    }

    .menu li + li {
        margin-top: 10px;
    }

    .hamburger {
        display: block;
    }

    input[type=checkbox]:checked ~ .menu {
        display: inline-flex;
        flex-direction: column;
    }
}